@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i|Open+Sans:300,400,700|Raleway:300,400,500,600,700')

$font-qoute: 'Cardo', serif    
$font-header: 'Open Sans', sans-serif
$font-main: 'Raleway', sans-serif

$white: #fff
$red: #e74545
$gray: rgb(108, 114, 121)
$headerColor: rgb(45, 48, 51) 

//*
//	outline: 1px solid red

=margin-top-bottom($top, $bottom)
	margin-top: $top
	margin-bottom: $bottom

=padding-top-bottom($top, $bottom)
	padding-top: $top
	padding-bottom: $bottom

=headers($size)
	+margin-top-bottom(20px, 20px)
	font-weight: bold
	text-transform: uppercase
	color: $headerColor
	font-size: $size

.my-responsive
	width: 100%
	height: 100%
	object-fit: cover
	margin: 0

body
	font-family: $font-main
	color: $gray
	padding-left: 5px
	padding-right: 5px

.jumbotron
	background-image: url('../images/build/hero.png')
	color: $white
	padding-top: 0
	height: 100vh
	margin-bottom: 0
	.navbar
		min-height: 100px
		padding-top: 25px
	.navbar-default
		background-color: transparent
		border: none
		box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15)
		.navbar-nav > li > a
			color: $white
			&:hover
				color: $red
			&:focus
				color: $red

	header 
		margin-top: 15%
		max-width: 1000px
		h1
			font-family: $font-header
			font-size: 30px
			font-weight: bold
		p
			font-size: 16px
			+margin-top-bottom(20px, 70px)
		.btn-lg
			width: 200px
			height: 46px

.btn
	border-radius: 2px
	font-size: 13px
	font-weight: 600

.btn-enter
	background-color: $red
	color: $white

.my-icon
	color: #c5c9cb
	border: 1px solid #e7ebed
	display: inline-block
	height: 40px
	width: 40px
	text-align: center
	font-size: 16px
	padding-top: 12px
	margin-right: 3px

.fa:last-child
	margin-right: 0

#features
	min-height: 550px
	+padding-top-bottom(5%, 5%)
	.card
		padding: 3%
		img
			+margin-top-bottom(10px, 10px)
		h5
			+headers(14px)

#works
	.photo
		height: 350px
		padding: 0
		position: relative
		border: 1px solid lightgray
		.layer
			position: absolute
			top: 0
			color: $white
			background-color: $red
			height: 100%
			width: 100%
			opacity: 0
			padding-top: 130px
			transition: all .7s
			&:hover
				opacity: .9
			h5
				+headers(14px)
				margin-bottom: 5px
				color: $white

		img
			@extend .my-responsive
#team
	.person
		+margin-top-bottom(5%, 5%)
	.photo
		height: 270px
		width: 270px
		img
			@extend .my-responsive
	h3
		font-size: 22px
		color: rgb(45, 48, 51)
	h6
		font-size: 12px
		text-transform: uppercase
		color: $red
		+margin-top-bottom(15px, 20px)
	.fa
		@extend .my-icon
		&:hover
			color: $gray
			border-color: $gray

#testimonials
	.carousel-indicators li
		margin-right: 5px
	.slide-photo
		height: 300px
		padding: 0
		img
			@extend .my-responsive

	.carousel-caption
		background-color: rgba(0, 0, 0, 0.3)
		p
			font-size: 22px
			font-family: $font-qoute
			font-style: italic
		h5
			+headers(13px)
			font-family: $font-main
			color: $white
	.quotes
		display: none
		padding: 5%
		background-color: #533549
		color: $white
		height: 100%
		blockquote
			border: none
			font-family: $font-qoute
			font-style: italic
			cite
				font-size: 13px
				font-family: $font-main
				font-style: normal
				font-weight: bold

#download
	max-height: 350px
	+padding-top-bottom(10%, 10%)
	h3
		color: $headerColor
		margin: 0
	h5
		+headers(13px)
		margin-top: 2%
	.btn-lg
		width: 280px
		height: 46px
		margin-top: 20px

.contact
	background-color: #393d63
	+padding-top-bottom(3%, 5%)
	h5
		+headers(14px)
		color: $white	
	.fa
		@extend .my-icon
		border-radius: 2px
		border-width: 2px
		&:hover
			color: $red
			border-color: $red
	p
		font-weight: 300

footer
	background-color: #313353
	+padding-top-bottom(2%, 2%)
	color: rgb(128, 128, 128)
	p
		margin-bottom: 0
	.fa
		color: $red
	.author
		color: $white

@media (min-width: 768px)
	body
		padding-left: 0
		padding-right: 0

	.jumbotron
		header
			h1
				font-size: 40px
			p
				font-size: 22px

	#team
		padding-top: 5%
		.text-center
			text-align: left
		.person
			margin-top: 0
			.photo
				height: 300px
				width: 100%

	#testimonials
		.slide-photo
			height: 400px
		.quotes
			blockquote
				font-size: 24px

@media (min-width: 992px)
	.jumbotron
		height: 700px
		header
			h1
				font-size: 65px
	#team
		padding-bottom: 5%
		.person
			margin: 0
	#testimonials
		.slide-photo
			height: 500px
		.carousel-indicators
			left: 75%
			bottom: 15%
		.carousel-caption
			display: none
		.quotes
			height: 500px
			display: block
			blockquote
				font-size: 28px
	
@media (min-width: 1200px)

	#testimonials
		.slide-photo
			height: 600px
		.carousel-indicators
			bottom: 15%
		.quotes
			height: 600px
			blockquote
				font-size: 36px
	
	#download
		+padding-top-bottom(5%, 5%)
		h2
			font-size: 28px
